* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

section {
  width: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  flex-wrap: wrap;
}

.inputWrapper {
  width: 50%;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.character {
  display: flex;
  justify-content: space-evenly;
  outline: red solid 2px;
  flex-wrap: wrap;
  margin: 6px;
  width: 100px; /* delete later */
}

/* for the future animation use the property transform: rotateX(30deg);  */

.whiteRectang {
  background-color: #fff;
}

.blackRectang {
  background-color: #000;
}

.whiteRectang,
.blackRectang {
  width: 20px;
  height: 20px;
  margin: 1px;
}

/* characters with ONE squares inside: */
.i {
  width: 25px;
}

/* characters with TWO squares inside: */
.I,
.j,
.l {
  width: 50px;
}

/* characters with THREE squares inside: */
.b,
.c,
.d,
.e,
.f,
.g,
.o,
.p,
.r,
.s,
.t {
  width: 70px;
}

/* characters with FOUR squares inside: */
.J,
.a,
.h,
.n,
.q {
  width: 90px;
}

/* characters with FIVE squares inside: */
.A,
.E,
.F,
.L,
.N,
.S,
.k,
.SPACE {
  width: 120px;
}

/* characters with SIX squares inside: */
.B,
.C,
.K,
.M,
.P,
.T,
.U,
.X,
.Y,
.Z,
.m {
  width: 140px;
}

/* characters with SEVEN squares inside: */
.D,
.G,
.H,
.R,
.V {
  width: 160px;
}

/* characters with EIGHT squares inside: */
.O,
.Q {
  width: 180px;
}

/* characters with TEN squares inside: */
.W {
  width: 220px;
}
